:root {
  --font-weight: 600;
  --color: #6c63ff;
}
.container {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  margin-top: 60px;
  max-width: 750px;
}
h2 {
  font-weight: var(--font-weight);
  font-size: 48px;
}
h1 {
  font-weight: var(--font-weight);
  font-size: 90px;
}
h3 {
  font-size: 24px;
  opacity: 75%;
  font-weight: 600;
  padding-bottom: 50px;
}
.contact {
  border: 1px solid var(--color);
  padding: 18px;
  margin-right: 35px;
  border-radius: 5px;
  background-color: var(--color);
  color: aliceblue;
  box-shadow: 8px 7px 24px rgba(0, 0, 0, 0.2);
}
.about {
  border: 1px solid var(--color);
  padding: 18px;
  border-radius: 5px;
  color: var(--color);
  background-color: white;
  box-shadow: 8px 7px 24px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 500px) {
  h1 {
    font-size: 40px;
    text-align: center;
  }
  h3 {
    padding-bottom: 20px;
  }
}
